{% extends "base.html" %}

{% block title %}ArcAssess{% endblock %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#response').bootstrapValidator();
    });
</script>
{% endblock %}
{% block body %}
    <div class="container">
        {% if thanks %}
            <div class="alert alert-info" role="alert">
                {{ thanks }}
            </div>
        {% endif %}
        <h1>Questions</h1>

        <form id="response"role="form" method="post">
            <fieldset>
            {% csrf_token %}
            {% if response_id %}
                <input type="hidden" name="id" value="{{ response_id }}"/>
            {% endif %}
                {{rating_forms.management_form}}
                {% for form in rating_forms.forms %}
                    {{ form.errors }}
                    <div class="form-group">
                        {{ form.id }}
                        <label for="{{ form.score.id_for_label }}">{{ form.initial.question }}</label>
                        <input type="number" class="form-control" id="{{ form.score.id_for_label }}" name="{{ form.score.html_name }}" placeholder="1-10"
                               value="{{ form.score.value|default_if_none:"" }}" required min="1"  data-bv-greaterthan-inclusive="true"
                               data-bv-greaterthan-message="The input must be greater than or equal to 10" max="10"
                               data-bv-lessthan-inclusive="true" data-bv-lessthan-message="The input must be between 1 and 10">
                        <input type="hidden" class="form-control" id="{{ form.question.id_for_label }}" name="{{ form.question.html_name }}"
                               value="{{ form.question.value }}">
                    </div>
                {% endfor %}
            {{ response_form.errors }}
                <div class="form-group">
                    <label for="{{ response_form.word.id_for_label }}">One word to describe your overall feeling:</label>
                    <input type="text" class="form-control" id="{{ response_form.word.id_for_label }}" name="{{ response_form.word.html_name }}" value="{{ response_form.word.value|default_if_none:"" }}">
                </div>
                <div class="form-group">
            <input class="btn btn-default" type="submit" value="Submit"/>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
