{% extends "base.html" %}

{% block body %}
<div class="container">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="id_password">Password</label>
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter Password">
    </div>
    <button type="submit" value="login" class="btn btn-default">Login</button>
    <a href="{% url "register" %}" class="btn btn-link" role="button">Want to register?</a>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
</div>
{% endblock %}