{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#question_form').bootstrapValidator();
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
    <form id="question_form" action="" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question" name="question" value="{{ question.question }}"
            data-bv-message="The question is not valid"
            required
            data-bv-notempty-message="The question is required and cannot be empty"

            pattern="^[a-zA-Z0-9\s?!]+$"
            data-bv-regexp-message="A question can only consist of alphabetical characters, numbers, spaces and ?!">
        </div>
        <input class="btn btn-default" type="submit" value="Save" />
    </form>
    </div>
{% endblock %}