{% extends "base.html" %}

{% block body %}
    <div class="container">
        <form role="form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.username.errors }}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter username">
            </div>
            {{ form.password1.errors }}
            <div class="form-group">
                <label for="id_password1">Password</label>
                <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Enter Password">
            </div>
            {{ form.password2.errors }}
            <div class="form-group">
                <label for="id_password2">Password Confirmation</label>
                <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Enter Password Again">
            </div>
            <button type="submit" value="Register" class="btn btn-default">Register</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>

{% endblock %}
