{% extends "base.html" %}

{% block body %}
    <div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Survey Templates</div>
        <div class="panel-body">
            <p>Here are al the templates that are available for you to pick from when creating a new survey.</p>
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            {% for template in object_list %}
                <tr><td><a href="{% url "question_list" %}">{{ template.id }}</a></td>
                <td><a href="{% url "question_list" %}">{{ template.name }}</a></td></tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}